.stock-history-container {
    background-color: #f9f9f9;
    padding: 20px !important;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .table {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .bi {
      font-size: 13px;
    }
  }
}


